<div class="container">
    <div id="newtask">
        <input type="text" placeholder="Add Tasks">
        <button style="background-color: #0d75ec" id="push">Add</button>
        <h1>search</h1>
    </div>
    <div id="tasks"></div>
</div>